.head_wrap {
	width: 100vw;
	box-sizing: border-box;
}

.head_wrap .head_top {
	padding: 20px;
	box-sizing: border-box;
}

.head_wrap .head_top .head_left .h_l_icon {
	width: 20px;
	height: 20px;
}

.head_wrap .head_top .head_left .h_l_txt {
	font-size: 20px;
	color: #9E9D98;
}

.head_wrap .head_top .head_right .head_s1 {
	font-size: 20px;
	color: #9E9D98;
	text-decoration: underline;
	cursor: pointer;
}

.head_wrap .head_top .head_right .head_s2 {
	font-size: 18px;
	margin: 0 2px;
	color: #9E9D98;
}

.head_wrap .head_top .head_right .h_r_icon {
	height: 25px;
	margin-right: 5px;
}

.head_wrap .head_top .head_right .user_icon {
	width: 25px;
	margin-left: 5px;
}

.head_logo_wrap {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	border-bottom: 2px solid #ddd;
	position: relative;
}

.head_logo_wrap .logo {
	width: 18rem;
	margin-right: 100px;
}
.head_logo_wrap .icon {
	display: none;
}
.head_logo_wrap .label_list {
	flex: 1;
	justify-content: space-between;
	
}

.head_logo_wrap .label_list .label_item {
	color: #000;
	font-size: 1.125rem;
	cursor: pointer;
	padding: 10px 0;

}

.head_logo_wrap .label_list .label_item:hover {
	color: #E6C1B8;
}

.head_logo_wrap .label_list .dropdown-menu {
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	border-radius: 0;
}

.head_logo_wrap .label_list .menu_list {
	padding: 0;
	background-color: rgba(255, 255, 255, 0.9);
	width: 1050px;
	flex-wrap: wrap;

}

.head_logo_wrap .label_list .menu_list .menu_item {
	width: 350px;
	color: #9E9D98;
	font-size: 16px;
	padding: 3px 20px;
	padding-left: 40px;
}

.head_logo_wrap .label_list .menu_list .menu_item:hover {
	color: #fff;
	background-color: #E6C1B8;
}

.menu_icon {
	width: 17px;
	overflow: hidden;
	margin-right: 10px;
}
.menu_icon img {
	width: 17px;
	filter: drop-shadow(#9E9D98 50px 0);
	transform: translateX(-50px);
}
.head_logo_wrap .label_list .menu_list .menu_item:hover .menu_icon img{
	filter: drop-shadow(#fff 50px 0);
	transform: translateX(-50px);
}

.head_logo_wrap .search {
	position: relative;
	margin-left: 1.25rem;
}
.head_logo_wrap .search input {
	width: 0;
	border:0;
	padding:0;
	position: absolute;
	left: 0;
	height: 40px;
	padding-left: 0;
	border-bottom: 2px solid #E6C1B8;
	transition: all 0.5s;
	
}
.head_logo_wrap .search input::active {
	border: none;
}
.head_logo_wrap .search .btn {
	width: 48px;
	flex-shrink: 0;
}
.head_logo_wrap .search.show input{
	width: 200px;
	left: -200px;
	padding-left: 10px;
	box-shadow:2px 2px 5px rgba(0, 0, 0, 0.3);
	position: absolute;
}

.nav_wrap {
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.nav_list_scroll {
	width: calc(100vw - 60px);
	/* overflow: hidden; */
	/* height: 500px; */
	position: relative;
	height: 100%
}

.nav_list {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.arrow_wrap {
	width: 150px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	position: relative;
	z-index: 111;
	flex-shrink: 0;
}

.nav_list .dropdown_wrap {
	height: 100%;
	display: inline-block;
	flex: 1;
	padding: 0 0.625rem;
	vertical-align: middle;
}
.nav_list .carousel-item {
	text-align: center;
}

.nav_list .nav_item {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	/* background-color: #ddd; */
}

.nav_list .carousel-inner {
	overflow: visible;
	width: 100%;
	height: 100%;
}

.nav_list .carousel-inner .carousel-item {
	height: 100%;
	width: 100%;
}


.nav_list .nav_item.show {
	background-color: #E6C1B8;
}

.nav_list .nav_item .show_white {
	display: none;
}

.nav_list .nav_item.show .show_white {
	display: block;
}

.nav_list .nav_item.show .show_black {
	display: none;
}

.nav_list .nav_item .nav_icon {
	width: 120px;
}

.nav_wrap .arrow {
	width: 30px;
	cursor: pointer;
}

.nav_list .dropdown-menu {
	background-color: #E6C1B8;
	width: 1050px;
	border-radius: 0;
	margin-top: -5px !important;
}

.nav_list .menu_list {
	padding: 10px 0;
	background-color: transparent;
	flex-wrap: wrap;
}

.nav_list .menu_list .menu_item {
	width: 350px;
	color: #fff;
	font-size: 16px;
	padding: 3px 20px;
	cursor: pointer;
	padding-left: 40px;
}

.nav_list .menu_list .menu_item:hover {
	background-color: #fff;
	color: #E6C1B8;
}

.nav_list .menu_list .menu_item .menu_icon img {
	filter: drop-shadow(#fff 50px 0);
	transform: translateX(-50px);
}


.nav_list .menu_list .menu_item:hover .menu_icon img{
	filter: drop-shadow(#E6C1B8 50px 0);
	transform: translateX(-50px);
}
