body,
html {
	min-width: 100% !important;
	width: 100%;

}

.head_top {
	display: none;
}

.head_logo_wrap .icon {
	display: block;
}

.head_logo_wrap .label_list {
	width: 100%;
	z-index: 100000;
	background-color: #fff;
	transition: max-height 0.5s;
	max-height: 0px;
	flex-direction: column;
	overflow: hidden;
	flex: auto;

}
.head_logo_wrap .label_list .menu_icon {
	display: flex;
}
.head_logo_wrap .dropdown_wrap {
	display: flex;
	width: 100%;
}

.head_logo_wrap .label_list.show {
	max-height: 2000rem;
}

.head_logo_wrap .label_list .label_item {
	padding: 1rem 2rem;
	flex: 1;
	display: flex;
}

.head_logo_wrap {
	min-height: 6rem;
	display: flex;
	flex-direction: column;
}

.head_logo_wrap .icon img {
	width: 3rem;
}

.head_logo_wrap .logo {
	width: 10rem;
}

.head_logo_wrap .logo-wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	height: 6rem;
}

.nav_list .dropdown_wrap {
	width: 100%;
}

.nav_list_scroll {
	width: 100%;
}

.arrow_wrap {
	width: 100px;
}

.gowns_wrap {
	padding: 1.25rem 6rem;
}

.gowns_prev {
	left: -4.5rem;
}

.gowns_next {
	right: -4.5rem;
}

.traditions-wrap .info {
	width: 30rem;
}

.traditions-wrap {
	flex-wrap: wrap;
}

.traditions-wrap .right_pic {
	flex-shrink: 0;
}

.events-wrap {
	display: none;
}

.events-mobile {
	display: block;
}

.events-mobile .title {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.events-mobile .events-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.5;
	font-size: 2rem;
	padding: 0 2rem;
	margin-top: 1rem;
	color: #9E9D98;
}

.nav-box {
	display: flex;
	flex-direction: column-reverse;
}

.events-mobile .events-item .img {
	width: 8rem;
}

.events-mobile .events-item .date {
	font-size: 2rem;
	color: #E1C896;
	margin: 1rem 0;
}

.events-mobile .events-item .btn {
	font-weight: 600;
}


.ideas-wrap {
	padding: 0;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
}

.ideas-wrap .info {
	width: 100%;
}

.ideas-wrap .info .dec,
.ideas-wrap .info .more-btn {
	display: none;
}

.ideas-wrap .info .title {
	text-align: center;
}

.ideas-wrap .ideas-show {
	padding: 0 5rem;
}


.guid-wrap {
	padding: 3rem;
}


.footer-nav {
	flex-direction: column;
}

.footer-nav li {
	width: 100%;
}

.footer .app {
	flex-direction: column;
}

.footer .contact-wrap {
	flex-direction: column;
}
.weddin-wrap .dec {
	font-size: 1.8rem;
}
.ideas-wrap .item-info .name {
	font-size: 1.8rem;
}
.ideas-wrap .item-info .dec {
	font-size: 1.4rem;
}

.guid-wrap .dec {
	font-size: 1.8rem;
}
.footer .copyright {
	flex-direction: column;
}

.footer .contact img {
	width: 3rem;
}

.footer .tool img {
	width: 6rem;
}
